<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uhf.sqlserver.dao.SqlServerMapper">
	<!-- 查询所有 -->
	<select id="list" resultType="SqlServer">
		SELECT * FROM s_menus
	</select>

	<!-- 增加信息 -->
	<insert id="insertDatas" parameterType="SqlServer">
		INSERT INTO s_menus VALUES(NULL,#{menusname},NULL,#{fatherid})
	</insert>

</mapper>
